# Normalize line endings for anything Git detects as text
* text=auto

# Text files that always use LF
*.py text eol=lf
*.bzl text eol=lf
*.bazel text eol=lf
.bazelrc text eol=lf
.bazelversion text eol=lf
.bazelignore text eol=lf
Dockerfile text eol=lf
*.sh text eol=lf
*.asm text eol=lf
*.s text eol=lf
*.lark text eol=lf
*.j2 text eol=lf
*.js text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.lock text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.html text eol=lf
*.svg text eol=lf

# Binary files, never normalized or diffed as text
*.bin binary
*.png binary
*.jpg binary
*.pdf binary
*.vsix binary
