#ifndef INST_PARSER_H
#define INST_PARSER_H

#include <stdint.h>

{% for enum in enums -%}
typedef enum {
    {%- for value, name in enums[enum] %}
    {{ enum | upper }}_{{ name | upper }} = {{ value }},
    {%- endfor %}
} {{ enum }}_t;

{% endfor -%}

typedef struct {
    {%- for name, bits in inst_bit_fields %}
    uint32_t {{ name }} : {{ bits }};
    {%- endfor %}
} inst_parser__inst_t;

#endif
